Cython==0.29.32
wheel
Owlready2==0.38
click==8.0.4
datasets==2.4.0
deprecation==2.1.0
dill==0.3.4
lxml==4.9.1
multiprocessing_on_dill==3.5.0a4
networkx==2.6.3
numpy==1.23.1
openprompt==1.0.0
pandas
tqdm
pipreqs==0.4.11
scikit_learn==1.1.2
spacy==3.2.0
textdistance==4.2.2
torch
transformers
validators==0.20.0
mowl-borg==0.1.0
sentence-transformers==2.2.2
lxml==4.9.1
spacy==3.2.0
datasets==2.4.0
sentencepiece==0.1.96
openprompt==1.0.0
deprecation==2.1.0
wandb
accelerate==0.20.1
pydantic==1.9.1
inflect==6.0.2